@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: url(../public/font/pretendard/Pretendard-Black.woff2);
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: url(../public/font/pretendard/Pretendard-ExtraBold.woff2);
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: url(../public/font/pretendard/Pretendard-Bold.woff2);
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: url(../public/font/pretendard/Pretendard-SemiBold.woff2);
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: url(../public/font/pretendard/Pretendard-Medium.woff2);
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: url(../public/font/pretendard/Pretendard-Regular.woff2);
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: url(../public/font/pretendard/Pretendard-Light.woff2);
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: url(../public/font/pretendard/Pretendard-ExtraLight.woff2);
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: url(../public/font/pretendard/Pretendard-Thin.woff2);
}

@font-face {
  font-family: "DungGeunMo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari, Opera에서 스크롤바 숨기기 */
*::-webkit-scrollbar {
  display: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Pretendard", sans-serif;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white;
}
input:hover,
input:focus {
  outline: none;
}

/* 리액트 Quill Style */
.ql-container {
  @apply border-gray-100 rounded-md;
}

.ql-editor strong {
  @apply font-bold;
}

.ql-editor em {
  @apply italic;
}

.ql-editor h1 {
  @apply text-3xl font-bold;
}

.ql-editor h2 {
  @apply text-2xl font-semibold;
}

.ql-editor::before {
  @apply text-lg font-Pretendard !text-gray-400 !not-italic;
}

.ql-editor.ql-blank::before {
  @apply text-gray-100 font-normal;
}
